/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  color:rgba(255, 255, 255, 0.87);
  z-index: 2;
}

img {
  max-width: 100%;
}

video {
  max-width: 112%;
  margin: -7rem -4rem;
  opacity: .5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-weight: 700;
  text-transform: uppercase;
  padding: .75rem 2rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffff00;
  transition: all ease-in .25s;
}

button:hover {
  transform: scale(1.05);
  color: #ffff00
}

button:active {
  transform: scaleX(1.1) scaleY(0.95);
}

footer {
  padding: 1rem;
  min-height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: #0000006a
}

/*General for content*/
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-container {
  min-height: 100vh;
  text-align: end;
  color: #000000;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem
}

.page-content {
  position: relative;
}

.page-intro {
  font-size: 1.7rem;
}

/* Cards */
.card {
  max-width: 100%;
  width: 100%;
  border: 1px dotted #ffff00;
  background-color: rgb(154, 153, 154);
  color: rgba(0, 0, 0, 0.95);
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.card * {
  margin: .75rem
}

.card-standard {
  max-width: 45%;
}


/*Align styling*/
.middle {
  text-align: center;
  color: #ffff00ac
}

.start {
 align-items: start;
 text-align: start;
}

.end {
  align-items: end;
}

/*Specials*/
.video-noMrg {
  margin-top: 0;
}
.img-opac {
  animation: opacityInOut 5s ease-in-out infinite alternate;
  width: 100%;
  border-radius: 15px;
  margin: auto
}

@keyframes opacityInOut {
  from {
    opacity: .5;
    transform: scale(0.95);
  } to {
    opacity: 1;
    transform: scale(1.05);
  }
}