@media screen and (max-width: 800px) {
  /*General*/
  h1 {
    font-size: 3.5rem;
  }
  video {
    margin: -2.5rem -1rem
  }
  .page-container {
    padding: 1rem
  }
  .video-container {
    min-height: unset;
  }

  /*Card*/
  .card-standard {
    max-width: 100%;
  }
  
  /* Hero */
  .hero {
    padding-top: 5rem;
    align-items: flex-end;
    text-align: end;
    min-height: 80vh;
  }
  .tivoli {
    bottom: 6rem
  }
  .tivoli img {
    max-width: 300px;
  }  
}

@media screen and (max-width: 450px) {
  /*General*/
  h1 {
    font-size: 2rem;
  }  
  footer {
    font-size: .8rem;
  }
  .page-intro {
    font-size: 1.2rem;
  }

  /*Card*/
  .card {
    margin: 1rem 0
  }

  /*Hero*/
  .tivoli {
    bottom: 12rem
  }
  .tivoli img {
    max-width: 150px;
  }
  .figure {
    max-width: 10rem;
  }

  /*Tickets*/
    .inner-overlay {
    text-align: center;
  }
  .inner-overlay div {
    flex-direction: column;
    align-items: center;
  }
}