/*Tickets*/
.card .buy-container {
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.svg-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.card .ticket-svg {
  transform: rotateZ(-30deg);
  position: absolute;
  top: 0;
  z-index: 1
}

.card .ticket-svg:nth-child(2) {
  transform: translateX(-30px) rotateZ(-70deg);
}

/*Ticket overlays*/
.tickets-overlay div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.tickets-overlay .box > * {
  margin: .5rem;
  border: 1px solid gray;
  padding: .75rem 2rem;
  font-size: 1.25rem;
  background-color: #ffffff;
}

.tickets-overlay button:hover {
  animation: glimpse .75s ease infinite
}


@keyframes glimpse {
  0% {
    background-color: #ffffff;
    transform: scale(1);
  } 
  50% {
    background-color: rgba(255,255,0,1);
    transform: scale(1.1);
  } 
  100% {
    background-color: #ffffff;
    transform: scale(1);
  }
}